<!DOCTYPE html>
<html>
<head>
    <title>Mes outils pour images</title>
    <script>
        // Fonction pour afficher/masquer une image en fonction de l'ID
        function toggleImage(imageId, checkboxId) {
            const checkbox = document.getElementById(checkboxId);
            const image = document.getElementById(imageId);
            
            if (checkbox.checked) {
                image.style.display = "block";
            } else {
                image.style.display = "none";
            }
        }
    </script>
</head>
<body>
    <h1>Mes outils pour images</h1>
    <hr/>

    <h2>Image 1</h2>
    <img id="image1" src="/static/images/imagechien.jpg" alt="Logo" style="display:none;">
    <p>Image 1 <input onclick="toggleImage('image1', 'checkbox1')" type="checkbox" id="checkbox1"></p>
    <hr/>

    <h2>Image 2</h2>
    <img id="image2" src="/static/images/imagechat.jpg" alt="Logo" style="display:none;">
    <p>Image 2 <input onclick="toggleImage('image2', 'checkbox2')" type="checkbox" id="checkbox2"></p>
    <hr/>

    <h2>Image 3</h2>
    <img id="image3" src="/static/images/imageloup.jpg" alt="Logo" style="display:none;">
    <p>Image 3 <input onclick="toggleImage('image3', 'checkbox3')" type="checkbox" id="checkbox3"></p>
    <hr/>
</body>
</html>
