<html>
<head>
<script>

function image1(){
	if(document.getElementById('1').checked){
	document.getElementById('img1').style.display="Block";
	}
	else document.getElementById('img1').style.display="None";
}
function image2(){
	if(document.getElementById('2').checked){
	document.getElementById('img2').style.display="Block";
	}
	else document.getElementById('img2').style.display="None";
}

function image3(){
	if(document.getElementById('3').checked){
	document.getElementById('img3').style.display="Block";
	}
	else document.getElementById('img3').style.display="None";
}

</script>
</head>
<body>
<h3>Images à afficher :</h3>
<p>Image 1<input onclick="image1()" type="checkbox" id="1"></p>
<p>Image 2<input onclick="image2()" type="checkbox" id="2"></p>
<p>Image 3<input onclick="image3()" type="checkbox" id="3"></p>
<hr/>

<img src="{{ url_for('static', filename='images/imagechien.jpg') }}" alt="Logo">
<img src="{{ url_for('static', filename='images/imagechat.jpg') }}" alt="Logo">
<img src="{{ url_for('static', filename='images/imageloup.jpg') }}" alt="Logo">

<script>
document.getElementById('img1').style.display="None";
document.getElementById('img2').style.display="None";
document.getElementById('img3').style.display="None";
</script>
</body>
</html>
